.image-boxes{
    min-width: 1000px;
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.image-box-cont{
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.Loading{
    width: 100%;
    min-height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: loading;
}


